.header {
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
 align-items: center;
 padding: 82px 20px;
}

.menu ul {
 display: flex;
 grid-column: 1;
 justify-self: start;
 padding-left: 31px;
 margin-bottom: 7px;
 list-style: circle;
 align-items: center;
 font-size: 18px;
 gap: 14px;
}

.menu li {
 display: flex;
 align-items: center;
 gap: 14px;
}

.menu li + li::before {
 content: "";
 width: 5px;
 min-height: 5px;
 margin-top: 5px;
 border: 1px solid #000;
 border-radius: 50%;
}

.header__logo {
 justify-self: center;
 width: 136px;
 height: 130px;
 padding-top: 10px;
}

.address {
 font-size: 18px;
 max-width: 280px;
 font-style: normal;
 gap: 4px;
}

.header__address {
 display: flex;
 justify-self: end;
 flex-direction: column;
 align-items: flex-start;
 padding-right: 65px;
}

.header__link {
 text-decoration: underline;
 text-decoration-thickness: 1px;
 text-underline-offset: 4px;
}

.header_link_active {
 text-decoration: none;
}

.address__link {
 text-decoration: underline;
 text-decoration-thickness: 1px;
 text-underline-offset: 4px;
}

.cover {
 display: grid;
 position: relative;
 background-image: url('../images/cover.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 min-height: 757px;
}

.cover > * {
 grid-area: 1 / 1;
}

.overlay {
 position: absolute;
 inset: 0;
 background: rgba(0, 0, 0, 0.6);
 z-index: 1;
}

.cover__content {
 position: relative;
 z-index: 2;
}

.cover__title {
 text-transform: uppercase;
 color: white;
 word-spacing: 10px;
 letter-spacing: 30px;
}

.aligned-text_left {
 display: flex;
 justify-self: start;
 padding-top: 163px;
 padding-left: 50px;
 font-size: 100px;
}

.aligned-text_center {
 display: flex;
 justify-self: center;
 padding-top: 17px;
 padding-left: 30px;
 font-size: 100px;
}

.aligned-text_right {
 display: flex;
 justify-self: end;
 padding-top: 17px;
 /*padding-left: 665px;*/
 padding-right: 20px;
 font-size: 100px;
}

.cover__description {
 display: flex;
 align-items: center;
 color: white;
 padding-left: 50px;
 font-size: 22px;
 gap: 105px;
 padding-top: 105px;
}

.cover__description-text {
 font-size: 22px;
 word-spacing: 19px;
}

.bet-button {
 display: inline-block;
 color: white;
 background-color: transparent;
 outline: 1px solid white;
 padding: 11px 31px;
}

.lots {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.lots__heading {
 padding-left: 65px;
 padding-top: 180px;
 font-size: 40px;
}

.lots__card-list {
 position: relative;
 display: flex;
 gap: 25px;
 margin-top: 25px;
 margin-left: 25px;
 list-style: none;
 flex-wrap: wrap;
}

.lots__card-list-item {
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 width: 334px;
 min-height: 596px;
 background-size: cover;
 background-position: center;
}

.card_type_film {
 background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
 background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
 background-image: url('../images/card-lot-03.jpg');
}

.card-link {
 position: relative;
 z-index: 1;
 height: 100%;
 padding: 50px 40px 48px 40px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 text-decoration: none;
 color: white;
}

.card__title {
 font-size: 22px;
 text-transform: uppercase;
 text-decoration: underline;
 text-decoration-thickness: 0.5px;
 text-underline-offset: 3px;
}

.card__text {
 font-size: 20px;
}

.lots__look-more-link {
 display: flex;
 padding-left: 65px;
 padding-top: 31px;
 font-size: 20px;
 text-decoration: underline;
 text-underline-offset: 5px;
}

.about {
 display: grid;
 grid-template-columns: 334px 1fr;
}

.about__logo {
 width: 240px;
 height: 240px;
 background-color: black;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 margin-top: 155px;
 margin-left: 70px;
}

.about__logo-image {
 position: relative;
 width: 148px;
 height: 114px;
 display: block;
}

.about__title {
 display: flex;
 font-size: 40px;
 margin-left: 50px;
 padding-top: 255px;
 width: 291px;
}

.about__paragraphs {
 display: flex;
 margin-left: 383px;
 margin-top: 10px;
 font-size: 20px;
 flex-direction: column;
 gap: 25px;
 width: 688px;
}

.footer {
 display: grid;
 grid-template-columns: 1fr auto 1fr;
 align-items: center;
 padding-top: 148px;
 padding-right: 50px;
 padding-left: 50px;
 padding-bottom: 70px;
}

.footer__address {
 display: flex;
 flex-direction: column;
 justify-self: start;
 padding-top: 35px;
 text-decoration-thickness: 1px;
 text-underline-offset: 4px;
}

.footer__menu {
 display: flex;
 flex-direction: column;
 align-items: center;
 font-size: 18px;
}

.footer__menu-link {
 text-decoration: underline;
 text-underline-offset: 4px;
}

.footer__menu-link_active {
 text-decoration: none;
}

.footer__social-list {
 display: flex;
 justify-content: flex-end;
 gap: 48px;
 padding-bottom: 12px;
}

.footer__social-link {
 width: 48px;
 min-height: 48px;
}