header {
 display: grid;
 width: 1,100px;
 height: 293px;
 grid-template-columns: 1fr min-content 1fr;
 align-items: center;
}

.header__logo {
 width: 136px;
 height: 115px;
 position: absolute;
 top: 92px;
 left: 50%;
 transform: translateX(-50%);
}

.menu {
 display: flex;
 justify-content: center;
 align-items: center;
 list-style: circle;
 margin-right: 60px;
 margin-bottom: 5px;
 gap: 13px;
 font-size: 18px;
}

.menu .dot {
 font-size: 14px;
 color: black;
} 

.header__link {
 text-decoration: underline;
 text-decoration-thickness: 1,5px;
 text-underline-offset: 4px;
}

.adress__link {
 text-decoration: underline;
 text-decoration-thickness: 1,5px;
 text-underline-offset: 4px;
}

.header__address {
 position: absolute;
 justify-self: end;
 flex-direction: column;
 align-items: flex-start;
 max-width: 240px;
 height: 98px;
 top: 94px;
 right: 258px;
 font-size: 18px;
 font-style: normal;
 line-height: 1.4;
}

.cover {
 position: relative;
 background-image: url('cover.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.overlay {
 min-height: 757px;
 background-color: rgba(0, 0, 0, 0.5);
}

.cover__title {
 text-transform: uppercase;
 color: white;
 word-spacing: 10px;
 letter-spacing: 30px;
}

.aligned-text_left {
 position: absolute; 
 top: 163px;
 left: 50px;
 font-size: 100px;
}

.aligned-text_center {
 position: absolute; 
 top: 298px;
 left: 381px;
 font-size: 100px;
}

.aligned-text_right {
 position: absolute; 
 top: 433px;
 left: 665px;
 font-size: 100px;
}

.cover__description {
 position: absolute; 
 bottom: 87px;
 left: 3px;
 font-size: 30px;
}

.cover__description-text {
 width: 1200px;
 height: 28px;
 padding-top: 240px;
 padding-left: 49px;
 color: white;
 font-size: 22px;
 font-family: 'Raleway', sans-serif;
 word-spacing: 18px;
}

.bet-button {
 position: absolute; 
 top: 225px;
 right: 152px;
 font-size: 22px;
 box-sizing: border-box;
 border: 1px solid white;
 color: white;
 background-color: transparent;
 padding: 12.5px 32px;
}

.lots {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.lots__heading {
 padding-left: 65px;
 padding-top: 180px;
 font-size: 40px;
}

.lots__card-list {
 position: relative;
 display: flex;
 gap: 25px;
 margin-top: 25px;
 margin-left: 25px;
 list-style: none;
}

.card_type_film {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('card-lot-01.jpg');
 width: 334px;
 height: 596px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.card_type_book {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('card-lot-02.jpg');
 width: 334px;
 height: 596px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.card_type_picture {
 background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('card-lot-03.jpg');
 width: 334px;
 height: 596px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.card {
 display: flex;
 flex-direction: column;
 height: 100%;
}

.card__title {
 position: absolute;
 font-size: 22px;
 width: 300px;
 color: white;
 flex-direction: column;
 text-transform: uppercase;
 padding-top: 50px;
 padding-left: 40px;
 font-weight: bold;
 text-decoration: underline;
 text-decoration-thickness: 0,5px;
 text-underline-offset: 3px;
}

.card__text {
 position: absolute;
 font-size: 20px;
 width: 254px;
 height: 144px;
 top: 404px;
 color: white;
 display: flex;
 font-weight: normal;
 text-transform: none;
 align-items: flex-end;
}

.card-link {
 height: 100%;
}

.lots__look-more-link {
 margin-left: 65px;
 position: relative;
 top: 31px;
 font-size: 20px;
 text-decoration: underline;
 text-underline-offset: 5px;
}

.about {
 display: grid;
 grid-template-columns: 334px 1fr;
}

.about__column {

}

.about__logo {
 width: 240px;           
 height: 240px;          
 background-color: black;
 border-radius: 50%;  
 display: flex;
 justify-content: center;
 align-items: center;
 margin: 0 auto;
 margin-top: 185px;
 margin-left: 70px;
}

.about__logo-image {
 position: relative;
 width: 148px;
 height: 114px;     
 display: block;   
}

.about__title {
 position: relative;
 font-size: 40px;
 margin-left: 383px;
 bottom: 137px;
 width: 291px;
}

.about__paragraphs {
 position: relative;
 margin-left: 383px;
 font-size: 20px;
 display: flex;
 flex-direction: column;
 bottom: 40px;
 gap: 25px;
}

.about__text-top {
 width: 688px;
}

.about__text-bottom {
 width: 693px;
}

.main {

}

footer {
 display: grid;
 padding-bottom: 82px;
}

.footer__address {
 position: absolute;
 flex-direction: column;
 align-items: flex-start;
 font-size: 18px;
 font-style: normal;
 line-height: 1.4;
 width: 264px;
 height: 98px;
 margin-left: 50px;
 margin-top: 140px;
}

.footer__menu {
 display: flex;
 justify-content: center;
 flex-direction: column;
 align-items: center;
 font-size: 18px;
 margin-top: 140px;
 text-decoration: none;
}

.footer__menu-link {
 text-decoration: underline;
 text-underline-offset: 4px;
}

.footer__social-list {
 position: absolute;
 display: flex;
 width: 48px;
 height: 48px;
 right: 450px;
 margin-top: -60px;
 gap: 48px;
}
